
@model KitapModel






<div class="row">
   
    <h1>Kitap Ekle</h1>
    <br>
    <div class="col-md-8">

        <form asp-controller="admin" asp-action="KitapEkle" method="POST" enctype="multipart/form-data">

             <div class="form-group row">
                <label asp-for="k_adi" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="k_adi">
                    <span asp-validation-for="k_adi" class="text-danger"></span>
                </div>
            </div>

             <div class="form-group row">
                <label asp-for="Url" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                  
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="k_fiyat" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="k_fiyat">
                    <span asp-validation-for="k_fiyat" class="text-danger"></span>
                    
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="k_sayfa" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="k_sayfa">
                    <span asp-validation-for="k_sayfa" class="text-danger"></span>
                    
                </div>
            </div>

             <div class="form-group row">
                <label asp-for="k_aciklama" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea id="editor" class="form-control" asp-for="k_aciklama"></textarea>
                    <!--
                    <input id="editor" class="form-control" asp-for="k_aciklama">
                    -->
                    <span asp-validation-for="k_aciklama" class="text-danger"></span>
                    
                </div>
            </div>

            <!--
                --olutşurulan bir kitap entity si için resim upload etme
            -->

            <div class="form-group row">
                <label asp-for="k_resim" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="file" name="file">
                    <!--
                    <input class="form-control" asp-for="k_resim">
                    <span asp-validation-for="k_resim" class="text-danger"></span>
                    -->
                </div>
            </div>
            
            <!--
                --select-option ile kategori seçimi,kateogriyi seçiyoruz kategoriId bilgisini;
                    modele gönderiyor.
            -->
            <div>
            <label >Kategori</label>
            <select asp-for="kategoriId">
               
                @foreach (var item in (List<kategori>)ViewBag.kategoriler)
                {
                     <option value="@item.kategoriId">@item.ka_adi</option>
                }
               
            </select>
            </div>

            <!--
                --yayınevi ekleme:
            -->

            <div>
            <label >Yayınevi</label>
            <select asp-for="yayineviId">
               
                @foreach (var item in (List<yayinevi>)ViewBag.yayinevleri)
                {
                     <option value="@item.yayineviId">@item.yayineviAd</option>
                }
               
            </select>
            </div>
            


            <!--
                --kitaba yazar ekleme
            -->
            <div style="margin-top: 10px;">
            <label >Yazar1:</label>
            <select name="yazarIds" multiple>
               
                @foreach (var item in (List<yazar>)ViewBag.yazarlar)
                {
                     <option value="@item.yazarId">@item.yazarad @item.yazarsoyad</option>
                }
             </select>
            </div>

            

          

        

             <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>




        </form>


    </div>



</div>

<!--
    --client validation işlemi
-->

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/modules/ckeditor/ckeditor.js"></script>

    <!--
    --ckeditor ü kullanma
    -->

    <script>
        CKEDITOR.replace('editor');
    </script>
}

