
@model YazarModel;


<style>
    li{
        display: inline-block;
        margin-right: 20px;
        color: black;
        font-size: 20px;
    }

    
    

    a:active{
        color:red;
    }


  
  
</style>

<!--
    --harf linklerine tıklanacak ve yazarlar listelenecek:
-->
<ul >
    <li ><a href="/yazarlar/a">A</a></li>
    <li ><a href="">B</a></li>
    <li ><a href="">C</a></li>
    <li ><a href="">Ç</a></li>
    <li ><a href="">D</a></li>
    <li ><a href="">E</a></li>
    <li ><a href="">F</a></li>
    <li ><a href="">G</a></li>
    <li ><a href="">H</a></li>
    <li ><a href="">I</a></li>
    <li ><a href="">İ</a></li>
    <li ><a href="">J</a></li>
    <li ><a href="">K</a></li>
    <li ><a href="">L</a></li>
    <li ><a href="">M</a></li>
    <li ><a href="">N</a></li>
    <li ><a href="">O</a></li>
    <li ><a href="">Ö</a></li>
    <li ><a href="">P</a></li>
    <li ><a href="/yazarlar/r">R</a></li>
     <li ><a href="">S</a></li>
    <li ><a href="">Ş</a></li>
    <li ><a href="">T</a></li>
    <li ><a href="">U</a></li>
    <li ><a href="">Ü</a></li>
    <li ><a href="">V</a></li>
    <li ><a href="">Y</a></li>
    <li ><a href="">Z</a></li>
    
  
</ul>










    <!--
        --tıklanan harf linkine göre yazarların listesi ve bu yazarlara ait kitaplar
    -->
   
        <div class="col-md-4">
           
            @if (ViewBag.yazarlar.Count>0)
            {
                <h2>Yazarlar:</h2>
            }
            

            @foreach (var item in (List<yazar>)ViewBag.yazarlar)
            {   
                
                @* @(Model.yazarlar.Any(i=>i.yazarId==item.yazarId)?"active":"" *@
                <a href="/yazarlar/@item.yazarad[0]/@item.yazarId"
                    class="list-group-item list-group-item-action @(Model.yazarlar.Any(i=>i.yazarId==item.yazarId)?"active":"")">
                     @item.yazarad @item.yazarsoyad
                </a>
                

            }
            
        </div>


        
        <div class="col-md-8">


            <div class="row">

                    @if (Model.yazarlar.Count>0)
                    {
                        <h1>Kitapları:</h1>
                    }

                    @foreach (var item in @Model.yazarlar)
                    {
                        @foreach (var itemA in item.kitapyazarlar)
                        {   

                            <div class="col-md-3">
                                <div class="card mb-2">
                                        <img class="card-img-top" src="~/img/@itemA.kitap.k_resim" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">@itemA.kitap.k_adi</h5>
                                            <small class="text-muted">
                                                <i class="fas fa-lira-sign"></i>fiyat:@itemA.kitap.k_fiyat tl
                                            </small>
                                        </div>
                                    
                                        <div class="card-footer text-center">
                                            <a asp-controller="ekitapislem" asp-action="details" asp-route-url="@itemA.kitap.Url" class="btn btn-primary btn-sm mb-2">incele</a>
                                            <a class="btn btn-primary btn-sm">sepete ekle</a>
                                        </div>
                                    </div>
                            </div>
                        }

                    }   

           
             </div>
        </div>
        




